@import url('https://fonts.googleapis.com/css?family=Rancho');
p.enunc1 {
    font-family: 'Rancho', cursive;
    font-size: 170%;
}

h1 {
    font-family: 'Rancho';
    font-size: 270%;
    color: blue;
}
